$-f-nunito: 'Nunito', sans-serif;

$-c-card-bg: #ffffff;
$-c-bg-alpha: #F7F7F6;
$-c-bg-beta: #BC8587;

$-c-text-white: #FFF;
$-c-text-black: #000;
$-c-text-highlight: #E74A4E;
$-c-text-header: #E46763;
$-c-text-purple: #30212C;
$-c-text-faded: #BC8587;